/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Estilos para el jumbotron */
.jumbotron {
  background: linear-gradient(45deg, #68f5ff, #396eff);
  color: white;
  padding: 6rem 9cqb; /* Ajusta el padding según sea necesario */
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  z-index: 1000;

  .display-4 {
    font-weight: bold;
  }

  .lead {
    font-size: 1.25rem;
  }
  
}


.text-content {
  max-width: -50%; /* Limita el ancho del texto para evitar que ocupe todo el espacio */
  text-align: left; /* Alinea el texto a la izquierda */
  padding-right: 10px; /* Ajusta el espacio derecho */
  margin: 20px auto;
  margin-bottom: -50px; /* Centra el texto verticalmente con márgenes */
  line-height: 1.6; /* Mejora la legibilidad del texto */
  word-wrap: break-word; /* Permite que las palabras largas se ajusten */
}



.image-content {
  max-width: 25%; /* En pantallas pequeñas, la imagen ocupará el 100% del ancho */
  margin-top: 2rem; /* Un poco de espacio entre el texto y la imagen */
  text-align: center; /* Centrar la imagen */
  display: block; /* Asegurarse de que la imagen esté en bloque */
}




/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .jumbotron {
    padding: 5rem; /* Reducir más el padding */
    height: 900px; /* Ajustar la altura */
    text-align: center; /* Centrar el contenido en pantallas pequeñas */
  }

  .display-4 {
    font-size: 2rem; /* Reducir aún más el tamaño del título */
  }

  .lead {
    font-size: 1rem; /* Ajustar el tamaño del texto */
  }

  .text-content {
    max-width: 100%; /* Aumenta el ancho permitido en pantallas pequeñas */
    margin-bottom: -100px;
    margin-right: 150px; /* Reduce el margen para pantallas más pequeñas */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .image-content {
    max-width: 150px; /* Asegura que la imagen ocupe todo el ancho en pantallas pequeñas */
    margin-bottom: -650px;
    margin-left: -350px;
    margin-right: 35px; /* Ajuste del espacio entre texto y la imagen */
    text-align: center; /* Centrado de la imagen */
  }

 
}




/* Estilos para las cards */
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1.5rem; /* Espacio entre las tarjetas */

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .card-text {
    color: #555;
    margin-top: 0.5rem;
  }

  .btn-primary {
    background-color: #527aff;
    border-color: #527aff;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      background-color: rgb(97, 166, 255);
      border-color: #58bcff;
    }
  }
}

/* Estilos para pantallas pequeñas y móviles */
@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column; /* Apilar los elementos en pantallas pequeñas */
    text-align: center; /* Centrar el texto */
  }

  .card-img-top {
    height: 200px; /* Reducir la altura de la imagen */
  }

  .card-body {
    padding: 1rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem; /* Botón más pequeño */
    font-size: 0.9rem; /* Reducir tamaño de fuente del botón */
  }
}

/* Para pantallas de dispositivos móviles */
@media (max-width: 576px) {
  .card {
    padding: 0.75rem; /* Reducir el padding en móviles */
  }

  .card-img-top {
    height: 180px; /* Asegurar que la imagen se ajuste */
  }

  .card-title {
    font-size: 1rem; /* Reducir el tamaño de fuente del título */
  }

  .card-text {
    font-size: 0.8rem; /* Reducir el tamaño de fuente del texto */
  }

  .btn-primary {
    font-size: 0.85rem; /* Reducir tamaño de fuente del botón */
  }
}

/* Estilos para la sección "Por qué comprar con nosotros?" */
h3 {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  li {
    padding-left: 1.5rem;
    position: relative;

    &:before {
      content: '✔';
      color: #00ff6a;
      position: absolute;
      left: 0;
    }
  }
}

/* Estilos para la sección de contacto */
h3 {
  margin-bottom: 1rem;
}

/* Animaciones */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.zoomIn {
  animation-name: zoomIn;
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.custom-card {
  background-color: #ffffffee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;

  &.fade-in-on-load {
    opacity: 1;
    transform: translateY(0);
  }

  h3 {
    color: rgb(74, 131, 253);
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  p {
    color: #48a7ff;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 1rem;
    list-style: none;

    li {
      position: relative;
      color: #3d71ff;
      margin-bottom: 0.5rem;
      padding-left: 1.5rem;

      &::before {
        content: "✔";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 0;
        color: rgb(59, 128, 255);
      }
    }
  }

  img {
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }
  }
}

/* Animaciones */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; /* Permite que los botones se acomoden en varias filas */
}

.btn-category {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 0 8%; /* Ocupa el 48% del contenedor, dejando espacio para 2 botones por fila */
  height: 150px;
  font-size: 18px;
  text-align: center;
  color: #000; /* Texto negro */
  background-color: #fff; /* Fondo blanco */
  border: none; /* Sin borde */
  transition: all 0.3s ease-in-out;
  margin: 5px 0;

  i {
    color: #000; /* Icono negro */
    margin-bottom: -10px;
    font-size: 50px;
  }

  &:hover {
    background-color: #46d4ff; /* Fondo azul al hacer hover */
    color: #fff; /* Texto blanco */
    i {
      color: #fff; /* Icono blanco */
    }
  }
}

/* Estilos para pantallas medianas (tablets y menos) */
@media (max-width: 768px) {
  .category-buttons {
    justify-content: center; /* Centra los botones en pantallas más pequeñas */
    gap: 15px;
  }

  .btn-category {
    flex: 1 0 48%; /* Ocupa el 48% del contenedor, dos botones por fila */
    height: 120px;
    font-size: 16px;

    i {
      font-size: 40px; /* Reducir el tamaño de los íconos */
    }
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .category-buttons {
    justify-content: center; /* Centra los botones en pantallas más pequeñas */
    gap: 10px;
  }

  .btn-category {
    flex: 1 0 48%; /* Ocupa el 48% del contenedor, dos botones por fila */
    height: 100px;
    font-size: 14px;

    i {
      font-size: 35px; /* Reducir aún más el tamaño de los íconos */
    }
  }
}




/* Estilo de la imagen y su contenedor */
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-left: -10px; /* Ajuste de imagen a la izquierda */
}

/* Estilo de las imágenes */
.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Estilo del texto superpuesto sobre la imagen */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 20px;
  border-radius: 10px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


.text-image {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: -335px;
   
}

.overlay-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 150px;
  margin-left: 50px; /* Mueve el contenido a la izquierda */
  margin-right: 0;
  padding-right: 500px;  /* Elimina el margen derecho para evitar el desajuste */
  text-align: left; /* Alinea el texto a la izquierda */
}

.overlay-text {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-top: -130px;
  margin-left: -450px;
}

.image-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: -355px;
 
}

.image-text {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.btn-efecto {
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: -100px;
  margin-left: -450px;
  
}

.btn-image-efecto {
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(90deg, #4f4cdf, #7595ff);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px; /* Agrega un espacio entre el texto y el botón */
  margin-left: 150px; /* Ajusta según tu diseño */
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-image-efecto:hover {
  background: linear-gradient(90deg, #757eff, #4ca4df);
  box-shadow: 0 8px 20px rgba(117, 154, 255, 0.4);
  transform: translateY(-2px);
}



.btn-efecto-btn {
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
  color: #fff; /* Color del texto blanco */
  background: linear-gradient(90deg, #4f4cdf, #7595ff);
  padding: 15px 30px; /* Aumenta el tamaño del padding para hacerlo más grande */
  text-decoration: none; /* Elimina el subrayado del texto */
  border-radius: 5px; /* Bordes más redondeados */
  display: inline-block; /* Asegura que el botón se comporta como un bloque */
  transition: all 0.3s ease; /* Transición suave al pasar el cursor */
}

.btn-efecto-btn:hover {
  background: linear-gradient(90deg, #757eff, #4ca4df);
    box-shadow: 0 8px 20px rgba(117, 154, 255, 0.4);
    transform: translateY(-2px);
}


.btn-efecto:hover {
  background-color: #0056b3;
}

.btn-efecto-btn:active {
  transform: scale(0.95);
  background: linear-gradient(90deg, #63ff70, #75ffd6);
}

/* Medios de consulta para pantallas más pequeñas */
@media (max-width: 1200px) {
  .overlay-title {
    font-size: 1rem;
    padding-bottom: 20px;
    margin-right: 126px;
    text-align: right;
  }


  .text-image {
    margin-top: -300px; /* Ajusta la posición en pantallas medianas */
    padding: 15px;
  }

  .image-title {
    font-size: 1.4rem; /* Ajusta el tamaño de la fuente */
    margin-top: -330px;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 15px;
  }

  .btn-efecto {
    
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: -150px;
    
  }

  .overlay-text {
    font-size: 0.9rem;
    margin-right: 170px;
    text-align: right;
  }

  .btn-efecto-btn {
    font-size: 1rem;
    padding: 12px 25px;
  }
}

@media (max-width: 992px) {
  .overlay-title {
    font-size: 1rem;
    padding-bottom: 20px;
    margin-right: 126px;
    text-align: right;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 15px;
  }

  .btn-efecto {
    
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: -150px;
    
  }
  .btn-efecto-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .overlay-title {
    font-size: 1rem;
    padding-bottom: 20px;
    margin-right: 126px;
    text-align: right;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 15px;
  }

  .btn-efecto {
    
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: -150px;
    
  }

  .btn-image-efecto {
    
    border-radius: 5px;
    margin-bottom: 190px;
    margin-left: -5px;
    
  }

  .btn-efecto-btn {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}

@media (max-width: 576px) {
  .overlay-title {
    font-size: 1.1rem;
    margin-left: 5px;
    margin-bottom: 30px;
    padding-right: 30px;
  }

  .overlay-text {
    font-size: 0.75rem;
    margin-left: -50px;
    margin-top: -50px;
  }

  .btn-efecto-btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .text-overlay {
    padding: 10px; /* Reducir el padding en pantallas pequeñas */
  }

  .btn-efecto {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}


// Estilo general para el botón
.btn-efecto {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #4f4cdf, #7595ff);
  color: white;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  // Hover: Efecto de iluminación
  &:hover {
    background: linear-gradient(90deg, #757eff, #4ca4df);
    box-shadow: 0 8px 20px rgba(117, 154, 255, 0.4);
    transform: translateY(-2px);
  }

  // Active: Efecto de clic
  &:active {
    transform: scale(0.95);
    background: linear-gradient(90deg, #63ff70, #75ffd6);
  }

  // Efecto de onda al hacer clic
  &:active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    animation: ripple 0.4s ease-out;
  }



  

  // Ripple Animation
  @keyframes ripple {
    to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }


  .container {
    max-width: 1200px;
    margin: auto;
  }




  
 
  
}

